<%= form_for(@service) do |f| %>
  <div id="serviceForm">
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>

  <table id="innerSchemes">
    <% @service.schemes.each do |scheme| %>

      <%= f.fields_for :schemes, scheme do |s|  %>
        <tr>
          <td><%= s.label :name %>: <%= s.text_field :name %></td>
          <td><%= s.label :amount %>: $<%= s.text_field :amount, size: 5 %></td>
          <td><%= s.label :offset %>: <%= s.text_field :offset, size: 3, maxlength: 2 %></td>
          <td><%= s.label :frequency %>: <%= s.text_field :frequency %></td>
          <td><%= s.label :currency %>: <%= s.text_field :currency, size: 3, maxlength: 3 %></td></tr>
      <% end %>

    <% end %>
  </table>

  <button type="button" id="schemesAdd">add</button>

  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
