<%= nested_form_for(@service) do |f| %>
  <div id="serviceForm">
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>

  <ul id="innerSchemes">
   
    <%= f.fields_for :schemes do |s|  %>
      <li><%= s.label :name %>: <%= s.text_field :name %></li>
      <li><%= s.label :amount %>: $<%= s.text_field :amount, size: 5 %></li>
      <li><%= s.label :offset %>: <%= s.text_field :offset, size: 3, maxlength: 2 %></li>
      <li><%= s.label :frequency %>: <%= s.text_field :frequency %></li>
      <li><%= s.label :currency %>: <%= s.text_field :currency, size: 3, maxlength: 3 %></li>
      <li><%= s.link_to_remove "Del" %></li>
    <% end %>

    <%= f.link_to_add "Add scheme", :schemes %>
  </ul>


  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
