<%= nested_form_for(@service) do |f| %>
  <div id="service-form">
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>  

  <div class="field">
    <div id="logo">
      <%= f.label :logo %>
      <%= service_image @service, :teeny %>
      <%= f.file_field :logo %>
    </div>
  </div>

  <ul id="inner-schemes">
    <%= f.fields_for :schemes %>

    <%= f.link_to_add "Add scheme", :schemes %>
  </ul>


  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
