<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>

  <% if @service.schemes.any? %>
    <script type="text/javascript">
      
      $(document).ready(function() { 

        $('#serviceFormAddScheme').click(function() { 

          //TODO: Replace this with some jquery table....   
        });

      });

      
    </script>
    <table>
      <% @service.schemes.each do |scheme| %>
      <!--<td><%= f.label :schemes, :name %>:</td></tr>-->
      <tr><td>Name: <input /></td><td>Amount: <input /></td><td>Offset: <input /></td><td>Frequency: <input /></td><td>Currency: <input /></td></tr>
      <% end %>
    </table>

    <button type="button" id="serviceFormAddScheme">add</button>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
