<h1>Listing subscriptions</h1>

<table>
  <tr>
    <th>Service</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Frequency</th>
    <th>Offset</th>
    <th>Days before notifiy</th>
    <th>Started</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription.service %></td>
    <td><%= subscription.amount %></td>
    <td><%= subscription.currency %></td>
    <td><%= subscription.frequency %></td>
    <td><%= subscription.offset %></td>
    <td><%= subscription.days_before_notify %></td>
    <td><%= subscription.started %></td>
    <td><%= link_to 'Show', user_subscription_path(@user, subscription) %></td>
    <td><%= link_to 'Edit', edit_user_subscription_path(@user, subscription) %></td>
    <td><%= link_to 'Destroy', user_subscription_path(@user, subscription), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subscription', new_user_subscription_path(@user) %>
