<!DOCTYPE html>
<html>
<head>
  <title>Subtrackr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="topBar">
<% if user_signed_in? %>
  <span class="in"><%= current_user.username %> | <%= link_to 'Logout', destroy_user_session_path, method: :delete %></span>
<% else %>
  <%= link_to 'Login', new_user_session_path %> 
<% end %>
</div>

<div id="content">
<%= yield %>
</div>

</body>
</html>
